.mil-button-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mi-invert-fix img {
  filter: none !important;
  mix-blend-mode: normal !important;
}


.hero-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-image {
  max-width: 420px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}
