  <footer class="mil-dark-bg">
                        <div class="mi-invert-fix">
                            <div class="container mil-p-120-60">
                                <div class="row justify-content-between">
                                    <div class="col-md-4 col-lg-4 mil-mb-60">

                                        <div class="mil-muted mil-logo mil-up mil-mb-30">PWS.</div>

                                        <!-- <p class="mil-light-soft mil-up mil-mb-30">Subscribe to our newsletter:</p>

                                        <form class="mil-subscribe-form mil-up">
                                            <input type="email" placeholder="Enter your email">
                                            <button type="submit" class="mil-button mil-icon-button-sm mil-arrow-place"></button>
                                        </form> -->
                                            <h6 class="mil-muted mil-up mil-mb-30">Italy</h6>

                                            <p class="mil-light-soft mil-up">str. piangrande 7 | andora - sv <br />tax id (p.iva) IT01826400093<span class="mil-no-wrap"></span></p>

                                    </div>
                                    <div class="col-md-7 col-lg-6">
                                        <div class="row justify-content-end">
                                            <div class="col-md-6 col-lg-7">

                                                <nav class="mil-footer-menu mil-mb-60">
                                                    <ul>
                                                        <li class="mil-up mil-active">
                                                            <a href="index.html">Home</a>
                                                        </li>
                                                        <li class="mil-up ">
                                                            <a href="services/index.html">Services</a>
                                                        </li>
                                                        <li class="mil-up ">
                                                            <a href="portfolio/index.html">Portfolio</a>
                                                        </li>
                                                        <li class="mil-up ">
                                                            <a href="contact/index.html">Contact</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </nav>

                                            </div>
                                            <div class="col-md-6 col-lg-5">

                                                <ul class="mil-menu-list mil-up mil-mb-60">
                                                    <li><a href="services/seo/index.html" class="mil-light-soft">SEO Services</a></li>
                                                    <li><a href="services/marketing/index.html" class="mil-light-soft">Data‑Driven Marketing</a></li>
                                                    <li><a href="services/web-development/index.html" class="mil-light-soft">Web Design & development</a></li>
                                                    <li><a href="services/ai/index.html" class="mil-light-soft">AI Integration</a></li>
                                                    <li><a href="services/index.html" class="mil-light-soft">All services</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-between flex-sm-row-reverse">
                                    <div class="col-md-7 col-lg-6">

                                        <div class="row justify-content-between">

                                            <div class="col-md-6 col-lg-5 mil-mb-60">

                                                

                                            </div>
                                            <div class="col-md-6 col-lg-5 mil-mb-60">


                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-lg-6 mil-mb-60">

                                        <div class="mil-vert-between">
                                            <div class="mil-mb-30">
                                                <ul class="mil-social-icons mil-up">
                                                    <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li>
                                                    <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li>
                                                    <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li>
                                                    <li><a href="#." target="_blank" class="social-icon"> <i class="far fa-circle"></i></a></li>
                                                </ul>
                                            </div>                                          <p class="mil-light-soft mil-up">© Copyright 2025 - PWS. All Rights Reserved. <a href="http://www.iubenda.com/privacy-policy/32296775/legal" rel="noopener" target="_blank" data-no-swup>Privacy policy</a>.</p>
                                            <p class="mil-light-soft mil-up"><a href="it/index.html" class="mil-light-soft" style="color:#ffffff;" data-no-swup>italiano</a> | <a href="index.html"  class="mil-light-soft" style="color:#ffffff;" data-no-swup>english</a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>